*{
    background-color: black;
    color:white;

}
.todoContainer{
   width: 100vw;
   height:100vh;
   display: flex;
   justify-content: center;
   margin-top:3%;
}
.heading{
    letter-spacing: 2px;
}

.form{
    border:1px solid white;
    margin-top:10%;
    display: flex;
    width:50vw;
    justify-content: space-between;
}
.form input{
    border:3px solid whitesmoke;
    width:40vw;
    height:3rem;
    background-color: white;
}